* {
    box-sizing: border-box;
    outline: 0;
}

body {
    font-size: 1.1em;
    background-color: rgba(107, 63, 148, 0.582);
    color: rgb(66, 28, 87);
}

.box {
    background-color: rgb(177, 202, 255);
    width: 50%;
    padding: 1% 4%;
    margin: 5% 15%;
    border: solid rgba(107, 63, 148, 0.582);
}

h1 {
    text-align: center;
}

.show-password {
    text-align: center;
    font-size: 130%;
}

.attributes {
    list-style: none;
}

#char-length {
    width: 40px;
    box-shadow: 1px 1px 2px;
    border-radius: 5px;
}

.btn {
    background-color: rgb(66, 28, 87);
    color: white;
    border: 1px solid #080808;
    border-radius: 6px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 13px;
    padding: 6px 12px;
    text-decoration: none;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 2%;
}

.btn:hover {
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(132, 137, 163);
    color: rgb(66, 28, 87);
}